
@import "variables";
header{
    display: flex;
    background-color:$colortitulos ;
    background-size: cover;
}
.titulo{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
}
#logo{
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.textosh2{
    background-color: grey;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
body{
    background-color:$colorfondo;
}
main{
    margin-left: 20%;
    margin-right: 20%;
    background-color: $colortitulos;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0s;
}
input{
    display: flex;
    background-color: azure;
    transition: 0s;
}

input:hover{
    background-color: $hovercolor;
    }



.pie{
    background-color: grey;
    display: flex;
    justify-content: center;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    width: 100%;
}
#tabla1{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-content: center;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 3%;
   
}

.tabla{
    background-color: aquamarine;
   width: 200%;
   display: flex;
   justify-content: center;
   align-content:center ;
   border: 2px;
   border-style: double;
}
.celda{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-content:center ;
    margin: 5%;
    border: 2px;
    border-style:inset;
}
.busqueda{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
    align-content: center;

}
#buscar{
    display: flex;
    width: 20%;
    background-color: antiquewhite;
    }
#mail{
    width: 5%;
    margin: 3px;
}
#instagram{
    width: 5%;
    margin: 3px;
    
}   
#facebook{
    width: 5%;
    margin: 3px;
}
footer{
    background-color: $colorfooter ;
}
#redes{
    display: flex;
    flex-direction: column;
}
#verproducto{
    width: 150%;
}
 